<div class="h-screen bg-[#eef5ff]">
  <div class="flex justify-center h-full items-center">
    <div class="bg-white  duration-[139ms] rounded-md p-4 flex">

      <div class="relative">
        <img src="./assets/images/bg-sidebar-desktop.svg">
        <div class="absolute top-0">
          <div class="flex flex-col p-10">
            <div class="flex ">
              <div class="h-12 w-12 border border-white rounded-full flex justify-center items-center text-white" [ngClass]="{'bg-[#bcdffa] text-black':step1}" >
                1
              </div>
              <div class="flex flex-col px-4">
                <div class="text-[#acabfb] font-[500]">
                  STEP 1
                </div>
                <div class="text-white font-[500] -mt-1">
                  YOUR INFO
                </div>
              </div>
            </div>
            <div class="flex mt-8">
              <div class="h-12 w-12 border border-white rounded-full flex justify-center items-center text-white" [ngClass]="{'bg-[#bcdffa] text-black':step2}" >
                2
              </div>
              <div class="flex flex-col px-4">
                <div class="text-[#acabfb] font-[500]">
                  STEP 2
                </div>
                <div class="text-white font-[500] -mt-1">
                  SELECT PLAN
                </div>
              </div>
            </div>
            <div class="flex mt-8">
              <div class="h-12 w-12 border border-white rounded-full flex justify-center items-center text-white" [ngClass]="{'bg-[#bcdffa] text-black':step3}" >
                3
              </div>
              <div class="flex flex-col px-4">
                <div class="text-[#acabfb] font-[500]">
                  STEP 3
                </div>
                <div class="text-white font-[500] -mt-1">
                  YOUY INFO
                </div>
              </div>
            </div>
            <div class="flex mt-8">
              <div class="h-12 w-12 border border-white rounded-full flex justify-center items-center text-white" [ngClass]="{'bg-[#bcdffa] text-black':step4}" >
                4
              </div>
              <div class="flex flex-col px-4">
                <div class="text-[#acabfb] font-[500]">
                  STEP 4
                </div>
                <div class="text-white font-[500] -mt-1">
                  SUMMARY
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="formStep1" *ngIf="step1"  class="py-6 px-24 flex flex-col justify-between">
        <div>
          <h2 class="text-[30px] font-[700] text-[#13365c]">
            Personal info
          </h2>
          <span class="text-gray-500">
            Please provide your name, email address and phone number
          </span>
          <div class="mt-12">
            <label class="text-[#13365c] font-[500]">
              Name
            </label>
            <input formControlName="name" class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="text" placeholder="e.g. Stephen King"/>
            <div *ngIf="form['name'].errors && submited" >
              <div class="h-auto w-full text-red-600 my-1">
              * Este campo é obrigatório
              </div>
            </div>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Email Adress
            </label>
            <input formControlName="email" class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="email" placeholder="e.g. Stephen King"/>
            <div *ngIf="form['email'].errors && submited" >
              <div class="h-auto w-full text-red-600 my-1">
              * Este campo é obrigatório
              </div>
            </div>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Phone Number
            </label>
            <input formControlName="phone"  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="number" placeholder="e.g. Stephen King"/>
            <div *ngIf="form['phone'].errors && submited" >
              <div class="h-auto w-full text-red-600 my-1">
              * Este campo é obrigatório
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-end w-full">
          <div class="bg-[#13365c] text-white py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="nextStep()">
            Next Step
          </div>
        </div>
      </form>

      <div *ngIf="step2"  class="py-6 px-16 flex flex-col justify-between">
        <div class="items-stretch">
          <h2 class="text-[30px] font-[700] text-[#13365c]">
            Select your plan
          </h2>
          <span class="text-gray-500">
            You have the option of monthly or yearly billing.
          </span>
          <div class="flex flex-row gap-4 w-auto mt-8 justify-between">
            <button class="flex flex-col justify-between h-40 border-2 border-gray-200/70 rounded-md px-4">
              <img src="./assets/icons/icon-arcade.svg" alt="arcade.img" class="mt-4">
              <div class="flex flex-col items-center justify-end h-full pb-2">
                <label class="text-[#13365c] font-[500]">Arcade</label>
                <span class="text-gray-500">$9/mo</span>
              </div>
            </button>
            <button class="flex flex-col justify-between h-40 border-2 border-gray-200/70 rounded-md px-4">
              <img src="./assets/icons/icon-advanced.svg" alt="arcade.img" class="mt-4">
              <div class="flex flex-col items-center justify-end h-full pb-2">
                <label class="text-[#13365c] font-[500]">Advanced</label>
                <span class="text-gray-500">$12/mo</span>
              </div>
            </button>
            <button class="flex flex-col justify-between h-40 border-2 border-gray-200/70 rounded-md px-4">
              <img src="./assets/icons/icon-pro.svg" alt="arcade.img" class="mt-4">
              <div class="flex flex-col items-center justify-end h-full pb-2">
                <label class="text-[#13365c] font-[500]">Pro</label>
                <span class="text-gray-500">$15/mo</span>
              </div>
            </button>
          </div>
        </div>
        <!-- Aqui está a parte do botão para seleção entre mês e ano -->
        <div class="flex flex-row justify-center rounded-md bg-[#f8f9fe] p-2">
          <span class="text-[#13365c] font-[500] mr-4">Monthly</span>
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#13365c]"></div>
          </label>
          <span class="text-[#13365c] font-[500] ml-4">Yearly</span>
        </div>

        <div class="flex justify-between w-full">
          <div class="text-[#13365c] py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="goBack()">
            Go back
          </div>
          <div class="bg-[#13365c] text-white py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="nextStep()">
            Next Step
          </div>
        </div>
      </div>

      <div *ngIf="step3"  class="py-6 px-24 flex flex-col justify-between">
        <div>
          <h2 class="text-[30px] font-[700] text-[#13365c]">
            Personal info
          </h2>
          <span class="text-gray-500">
            Please provide your name, email address and phone number
          </span>
          <div class="mt-12">
            <label class="text-[#13365c] font-[500]">
              Name
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Email Adress
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Phone Number
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
        </div>

        <div class="flex justify-between w-full">
          <div class="text-[#13365c] py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="goBack()">
            Go back
          </div>
          <div class="bg-[#13365c] text-white py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="nextStep()">
            Next Step
          </div>
        </div>
      </div>
      <div *ngIf="step4"  class="py-6 px-24 flex flex-col justify-between">
        <div>
          <h2 class="text-[30px] font-[700] text-[#13365c]">
            Personal info
          </h2>
          <span class="text-gray-500">
            Please provide your name, email address and phone number
          </span>
          <div class="mt-12">
            <label class="text-[#13365c] font-[500]">
              Name
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Email Adress
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
          <div class="mt-6">
            <label class="text-[#13365c] font-[500]">
              Phone Number
            </label>
            <input  class="h-12 w-full border-2 border-gray-200/70 rounded-md px-4 mt-2" type="password" placeholder="e.g. Stephen King"/>
          </div>
        </div>

        <div class="flex justify-between w-full">
          <div class="text-[#13365c] py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="goBack()">
            Go back
          </div>
          <div class="bg-[#13365c] text-white py-3 px-6 rounded-lg cursor-pointer hover:scale-105 duration-150" (click)="nextStep()">
            Next Step
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
